@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


  body, html {
    margin: 0;
    padding: 0;
    font-family: DM Sans
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  

  header {
    color: white;
    font-family: "Nova Mono", monospace;
        font-weight: 400;
        font-size: 30px;
        font-style: regular;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FB3F5C;
        padding: 5px 10px;
        flex-shrink: 0;
        padding-left: 250px;

  }


  /* Barre de navigation */
  

  nav {
color: white;
font-family: "Nunito Sans";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 250px;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: flex;
    margin-left: 20px;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  a.actif,
  a:active {
    text-decoration: underline !important;
    color: white;
    font-weight: 700;
  }

  
  /* Section principale */

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .main-text {
    max-width: 50%;
  }

  .main-text h1 {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .name {
    color: #FB3F5C;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .main-text p {
    color: #191018;
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: lowercase;
width: 481px;
height: 144px;
flex-direction: column;
justify-content: left;
flex-shrink: 0;
  }

  .button {
    color: #F8EEEF;
font-family: "Nunito Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    background-color: #FB3F5C;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

  }

    /* Image */

    .profil-picture {
      background-color: #FB3F5C;
      width: 432px;
      height: 800px;
    }

  .main-image {
    max-width: 100%;
    background-color: #FB3F5C;
    width: 432px;
    height: 541px;
    flex-shrink: 0;

  }


  .img {
    width: 100%;
    border-radius: 10px;
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      text-align: center;
    }

    .main-text, .main-image {
      max-width: 100%;
    }

    .main-image {
      margin-top: 20px;
    }

    .navbar li {
      margin-bottom: 10px;
      display: inline-block;
    }

    .navbar ul {
      text-align: center;
    }
  }